---
---

$max-width: 1920px;

$grid-columns: 8;
$medium-screen: 600px;
$large-screen: 900px;

// use 8 columns when screen is >600px wide
$medium-screen-up: new-breakpoint(min-width $medium-screen 8);

// use 12 columns when screen is >900px wide
$large-screen-up: new-breakpoint(min-width $large-screen 12);
