* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* -------------------------------------------------------------------------*/
/* Layout */
body {
    background-color: #152736;
    color: #c9e1c1;
}

h1 {
    color: #0fb493;
}

h2 {
    color: #1d2f3e;

}

h3 {
    color: #0f9fb4;
}

